.container {
  // box-sizing: border-box;
  min-width: $vp-320;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5.86%;

  @include vp-767 {
    padding: 0 4.69%;
  }

  &--header-top {
    padding-top: 40px;
  }
}
