.main-header__header-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-bottom__background-img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $color-royal-blue;
}

.header-bottom__background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
